<div class="app-container">
  <!-- Header -->
  <div class="header">
    <!-- Menu icon for small screens -->
    <mat-icon *ngIf="isMobile" class="menu-icon" (click)="toggleMobileMenu()"
      >menu</mat-icon
    >
    <div class="logo">
      <img
        (click)="navigateTo('/tradeshow/home')"
        src="assets/fossil_logo.png"
        alt="Fossil Group"
        class="company-logo"
      />
    </div>
    <div class="header-icons" (click)="redirectToCart()">
      <mat-icon
        [matBadge]="badgeCount"
        matBadgeColor="warn"
        matBadgeClass="custom-badge"
        >shopping_cart</mat-icon
      >
    </div>
  </div>

  <!-- Main container with sidenav and content side by side -->
  <div class="main-container">
    <!-- Sidebar Navigation Menu -->
    <div
      class="sidenav"
      [class.expanded]="isExpanded"
      *ngIf="!isMobile || showMobileMenu"
      (mouseenter)="expand()"
      (mouseleave)="collapse()"
    >
      <div
        class="menu-item"
        *ngFor="let item of menuItems"
        (click)="navigateTo(item.route)"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="menu-text" *ngIf="isExpanded">{{ item.name }}</span>
      </div>
    </div>

    <!-- Content Area for Nested Components -->
    <div class="content">
      <router-outlet></router-outlet>
      <!-- Render child routes here -->
    </div>
  </div>

  <!-- Mobile Menu Overlay -->
  <div class="mobile-menu-overlay" *ngIf="showMobileMenu && isMobile">
    <div class="mobile-menu">
      <div class="menu-header">
        <h3>Menu</h3>
        <button mat-icon-button (click)="toggleMobileMenu()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="menu-content">
        <div class="mobile-menu-item" *ngFor="let item of menuItems" (click)="navigateTo(item.route)">
          <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
          <span class="mobile-menu-text">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
