<body>
    <div class="imageDiv">
        <img src="assets/Banner.jpg" alt="Tradeshow Banner" class="banner">
    </div>

    <div class="input-group">
        <mat-form-field class="form-control" appearance="outline">
            <mat-label>Enter SKU or Scan QR code</mat-label>
            <input matInput type="text" [(ngModel)]="inputText" (keyup.enter)="performAction()" />
            <!-- Search Button -->
            <button *ngIf="inputText" matSuffix mat-icon-button aria-label="Search" (click)="performAction()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <!-- QR Code Button -->
        <button mat-icon-button class="qr-button" (click)="openScanner()" aria-label="Scan QR code">
            <mat-icon inline="true">qr_code_scanner</mat-icon>
        </button>
        <!-- Clear Button -->
        <button mat-icon-button aria-label="Clear" class="qr-button" (click)="clearInput()">
            <mat-icon inline="true">cancel</mat-icon>
        </button>
    </div>

    <div *ngIf="!isMobile" class="product-card">
        <!-- Product Image Section -->
        <div class="product-image">
            <img src="assets/Watch.jpg" alt="Product Image" />
            <!-- Rating Section -->
            <div class="product-rating">
                <div class="stars">
                    <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" (click)="setRating(i + 1)"
                        (mouseover)="hoverRating(i + 1)" (mouseleave)="hoverRating(0)"
                        [class.filled]="i + 1 <= (hoveredRating || userRating)">
                        star
                    </mat-icon>
                </div>
            </div>
        </div>

        <!-- Desktop Layout -->
        <div *ngIf="!isMobile" class="product-details">
            <div class="details-grid">
                <!-- Row 1 -->
                <div class="grid-item" style="grid-column: span 2;">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Product Title</mat-label>
                        <input matInput type="text" [(ngModel)]="productTitle" placeholder="Sample Product" />
                    </mat-form-field>
                </div>
                <div class="grid-item">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Brand</mat-label>
                        <input matInput type="text" [(ngModel)]="brandName" placeholder="Brand Name" />
                    </mat-form-field>
                </div>

                <!-- Row 2 -->
                <div class="grid-item">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Season</mat-label>
                        <input matInput type="text" [(ngModel)]="season" placeholder="Summer 2024" />
                    </mat-form-field>
                </div>
                <div class="grid-item" style="grid-column: span 2;">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Platform</mat-label>
                        <input matInput type="text" [(ngModel)]="platform" placeholder="E-commerce" />
                    </mat-form-field>
                </div>

                <!-- Row 3 -->
                <div class="grid-item">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>MSRP / MRP</mat-label>
                        <input matInput type="text" [(ngModel)]="msrp" placeholder="$150.00" />
                        <mat-hint align="start"><strong>Retail Price in USD</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="grid-item">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Quantity</mat-label>
                        <div class="quantity-wrapper">
                            <button mat-icon-button type="button" (click)="decrement()" [disabled]="quantity <= 1">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <input matInput [(ngModel)]="quantity" min="1" value="1" />
                            <button mat-icon-button type="button" (click)="increment()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </mat-form-field>
                </div>
                <div class="grid-item">
                    <mat-form-field appearance="outline" class="detail-field">
                        <mat-label>Sub Total</mat-label>
                        <input matInput type="text" [(ngModel)]="subTotal" placeholder="$150.00" />
                        <mat-hint align="start"><strong>Retail Price in USD</strong> </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- Add to Cart Button -->
            <div class="cart-button">
                <button mat-raised-button color="primary" class="cartButton">Add to Cart</button>
            </div>
        </div>
    </div>

    <!-- Mobile Layout -->
    <div *ngIf="isMobile" class="product-grid">
        <!-- Row 1 -->
        <div class="grid-item-mobile image-rating">
            <img src="assets/Watch.jpg" alt="Product Image" class="product-image-mobile">
            <div class="product-rating-mobile">
                <div class="stars">
                    <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" (click)="setRating(i + 1)"
                        (mouseover)="hoverRating(i + 1)" (mouseleave)="hoverRating(0)"
                        [class.filled]="i + 1 <= (hoveredRating || userRating)">
                        star
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="grid-item-mobile product-title">
            <div>Machine Chronograph Smoke Stainless Steel Watch</div>
        </div>

        <!-- Row 2 -->
        <div class="grid-item-mobile">
            <label>Brand</label>
            <input type="text" placeholder="Fossil">
        </div>
        <div class="grid-item-mobile">
            <label>Season</label>
            <input type="text" placeholder="SU24">
        </div>

        <!-- Row 3 -->
        <div class="grid-item-mobile">
            <label>Platform</label>
            <input type="text" placeholder="Machine">
        </div>
        <div class="grid-item-mobile">
            <label>MRP / MSRP</label>
            <input type="text" placeholder="180">
        </div>

        <!-- Row 4 -->
        <div class="grid-item-mobile">
            <label>Quantity</label>
            <div class="quantity-wrapper">
                <button mat-icon-button type="button" (click)="decrement()" [disabled]="quantity <= 1">
                    <mat-icon>remove</mat-icon>
                </button>
                <input matInput [(ngModel)]="quantity" min="1" value="1" />
                <button mat-icon-button type="button" (click)="increment()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="grid-item-mobile">
            <label>Sub Total</label>
            <input type="text" placeholder="180">
        </div>

        <!-- Row 5 -->
        <div class="grid-item-mobile cart-button" colspan="2">
            <button class="add-to-cart">Add To Cart</button>
        </div>
    </div>
</body>

<!-- QR Code Scanner Modal -->
<div *ngIf="showScanner" class="scanner-modal">
    <zxing-scanner [enable]="true" (camerasFound)="onCamerasFound($event)" (scanSuccess)="handleQrCodeResult($event)"
        [tryHarder]="true">
    </zxing-scanner>
    <button (click)="closeScanner()" class="close-button">Close</button>
</div>